@import url("./swiper.css");
@import url("./input-label-float.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    direction: rtl;
    background: #fff;
}
input{
    background: transparent;
    outline: none;
    border:none;
}
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

.hidden-scroll::-webkit-scrollbar{
    display: none;
}
